.formTitle {
  text-align: center;
}

.formErr {
  color: red;
}

.towerAndFloor {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.meetingRoomAndDateAndTime {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-evenly;
  align-items: center;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.commentWrapper__textarea {
  padding: 5px;
  width: 40vw;
  resize: none;
}

@media (max-width: 600px) {
  .commentWrapper__textarea {
    width: 70vw;
  }
}

.btnsWrapper {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.towerWrapper,
.floorWrapper,
.meetingRoomWrapper,
.dateAndTimeWrapper {
  display: flex;
  gap: 5px;
}

.meetingRoomWrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}

.btn:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

.btn:active {
  position: relative;
  top: 1px;
}

.fontWeight600 {
  font-weight: 600;
}